body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

.titulo {
    color: #32b9cd;
    width: fit-content;
    font-weight: 500;
}

.navbar {
    width: 300px;
    color: #e3b062;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: #e3b062;
    text-decoration: none;
}

.navbar a:hover {
    color: #32B9CD;
}

.header {
    border-bottom: 3px solid #32b9cd;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.header .container {
    justify-content: space-between;
}

/* BANNER */

.banner {
    background-image: url(assets/bg-jelly-fish-para_outras_pags.png);
    height: 500px;
    color: white;
}

.banner .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner .container p {
    font-size: 32px;
    width: 200px;
}

/* SOCIAL */

.social {
    background-color: #F7F7F7;
    height: 500px;
}

.social .container {
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}

.social .container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.social .container .box img {
    width: 100px;
}

h2 {
    color: crimson;
}

.social .container .box p {
    width: 450px;
}

/* FOOTER */

.footer {
    background-color: #32B9CD;
    color: white;
}

.footer .container {
    justify-content: center;
}

.tela_cadastro {
    background-image: url(assets/bg-jelly-fish-para_outras_pags.png);
    height: 600px;
}

.tela_cadastro .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.tela_cadastro .container .box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: lightgray;
    width: 350px;
    height: 400px;
    border-radius: 5px;
}

.tela_cadastro .container .box input {
    border: solid #32B9CD 2px;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
}

.tela_cadastro .container .box .input_box {
    /* border: solid red 2px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    height: 270px;
    color: crimson;
}

.tela_cadastro .container .box button {
    width: 120px;
    height: 35px;
    background-color: crimson;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

.tela_cadastro .container .box button:hover {
    background-color: #32B9CD;
    color: crimson;
}